<!--CITED: https://github.com/osu-cs340-ecampus/nodejs-starter-app-->

  <div class="container">

       <div class="row">
           <div class="col-1">
               <h3>Alpine Rentals Equipment Management System</h3>
               <h3>Navigate Below:</h3>
               <ul>
                    <li><a href="/">Home</a></li>
                    <p>Home Page. (You are here)</p>
                    <li><a href="/rentals">Rentals</a></li>
                    <p>Search customer rental records.</p>
                    <li><a href="/customers">Customers</a></li>
                    <p>Search customer records.</p>
                    <li><a href="/equipment">Equipment</a></li>
                    <p>Search equipment records.</p>
                    <li><a href="/employees">Employees</a></li>
                    <p>Search employee records.</p>
                    <li><a href="/stores">Stores</a></li>
                    <p>Search store records.</p>
                </ul>
           </div>
           <div class="col-2">
               <img class="figure" src="../img/figure.png">
               <div class="color-box"></div>

           </div>

       </div>



   </div>


</div>
